* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #1A120B;
    --text-color: white;
    --ascent-color: #bd8042;
}

html {
    font-size: 62%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 5%;
    background: #3C2A21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    color: var(--ascent-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 600;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--ascent-color);
    border-bottom: 3px solid var(--ascent-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--ascent-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 6% 10rem;
}

.home {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
    gap: 8rem;
    background: url(../assets/background-main.jpg) center no-repeat;
    background-size: cover;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 720px;
    margin: 2rem auto;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--ascent-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--ascent-color);
    border: 2px solid var(--ascent-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/background-section2.jpg);
    background-size: cover;
    min-height: 100vh;
}

.heading {
    font-size: 8rem;
    text-align: center;
}

.about-content {
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(24, 24, 24, 0.3);
    border-radius: 2rem;
    padding: 4rem;
}

.about-content h2 {
    text-align: center;
    line-height: 1.5;
}

.about-content p {
    font-size: 2rem;
    line-height: 1.15;
    margin: 2rem 0 3rem;
    max-width: 920px;
}

span1 {
    color: var(--ascent-color);
    font-weight: bold;
}

.coffees {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coffees-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
}

.coffees-container .coffees-box {
    position: relative;
    border-radius: 2rem;
    height: 450px;
    border: 2px solid var(--ascent-color);
    overflow: hidden;
    display: flex;
}

.coffees-box img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    object-fit: cover;
}

.coffees-box:hover img {
    transform: scale(1.05);
}

.coffees-box .coffees-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    Flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.coffees-box .coffees-info:hover {
    background: radial-gradient(rgba(0, 0, 0, 0.4), var(--ascent-color));
    transform: scale(1.05);
}

.coffees-info h4 {
    font-size: 3rem;
    font-weight: 800;
}

.coffees-info p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    font-weight: 600;
}

.coffees-info a {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: black;
    border: 2px solid var(--ascent-color);
    border-radius: 50%;
}

.coffees-info a i{
    font-size: 3rem;
    color: var(--ascent-color);
}

.coffees .btn{
    margin: 4rem auto;
}

.reviews {
    background-color: var(--bg-color);
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    gap: 2rem;
}

.reviews-container .reviews-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--ascent-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.reviews-container .reviews-box:hover {
    border-color: var(--ascent-color);
    transform: scale(1.02);
    background-color: #E0C097;
    color: black;
}

.reviews-box i {
    font-size: 7rem;
    color: var(--ascent-color);
}

.reviews-box h3 {
    font-size: 2.6rem;
}

.reviews-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--ascent-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--ascent-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid white;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 45px;
    text-align: center;
    font-size: 16px;
    color: white;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #000;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#back-to-top:hover {
    background-color: #555;
}

@media(max-width: 1200px) {
    html {
        font-size: 52%;
    }

    .reviews-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0, 5rem;
    }
}

@media (max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .coffees {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 895px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home-content {
        text-align: right;
    }
    .home-content h3 {
        font-size: 5rem;
        color: var(--text-color);
    }
    .home-content h1 {
        font-size: 8rem;
        color: var(--ascent-color);
    }
    .about-content{
        margin: 1rem 4rem;
    }
    .coffees h2{
        margin-bottom: 3rem;
    }
    .reviews h2{
        margin-bottom: 3rem;
    }
    .coffees-container{
        grid-template-columns: repeat(1,1fr);
    }
    .reviews-container{
        grid-template-columns: repeat(2,1fr);
    }
}
